<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="LogisticsDB"
			 connectionString="Host=localhost;Database=www2;Username=postgres;Password=root"
			 providerName="Npgsql" />
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
</configuration>